@model LandingPage.Models.ContributorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@Model.Content.FirstOrDefault(r => r.Key== "CeoKeywords").Value" />
    <meta name="description" content="@Model.Content.FirstOrDefault(r => r.Key== "CeoDescription").Value" />
    <title>@Model.Content.FirstOrDefault(r => r.Key == "CeoTitle").Value</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cover.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="site-wrapper">
        @RenderBody()
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>